$mediaAvoidOverLapingGap: 0.02px;
$mediaLargeDesktopSize: 1920px;
$mediaDesktopSize: 1366px;
$mediaSmallDesktopSize: 1200px;
$mediaTabletSize: 1024px;
$mediaPortraitTabletSize: 768px;
$mediaLandscapeMobileSize: 640px;
$mediaPortraitMobileSize: 480px;


$primaryColor: #2E3F60;
$secondaryColor: #F2DA9D;
$whiteColor: #ffffff;

$mediaAvoidOverLapingGap: 0.02px;
$maxNormalWidth: 1600px;
$normalPaddingPercentage: 0.08;
$normalPadding: 5vw;




